### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = purchase_data["SN"].unique()
len(players)
#counted the unique numbers of players

576

In [3]:
players2 = ([{"Total Players": "576"}])
count_of_players = pd.DataFrame(players2)
count_of_players
#created a dataframe to show "Total Players"

  Total Players
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item ID"].unique()
len(unique_items)

183

In [5]:
Total_Revenue = purchase_data["Price"].sum()
'${:,.2f}'.format(Total_Revenue)

'$2,379.77'

In [6]:
Number_of_Purchases = len(purchase_data["Price"])
Number_of_Purchases

780

In [7]:
len(purchase_data["Price"])
(Average_Price) = Total_Revenue/len(purchase_data["Price"])
'${:,.2f}'.format(Average_Price)

'$3.05'

In [8]:
analysis = ([{"Number of Unique Items": "183", "Average Price": "$3.05", "Number of Purchases": "780", "Total Revenue": "$2,379.77"}])
purchasing_analysis = pd.DataFrame(analysis)
purchasing_analysis

  Average Price Number of Purchases Number of Unique Items Total Revenue
0         $3.05                 780                    183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Find the number of unique females, unique males, and unique other/non-disclosed
demographics = purchase_data.groupby('Gender')['SN'].nunique()
demographics

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
#Create variables that will be used to calculate percentage of each gender profile
Total_Females = 81
Total_Males = 484
Total_Other_Non_Disclosed = 11
Total = Total_Females + Total_Males + Total_Other_Non_Disclosed
Total
Female_Percentage = Total_Females/Total * 100
Male_Percentage = Total_Males/Total * 100
Other_Non_Disclosed_Percentage = Total_Other_Non_Disclosed/Total * 100

In [11]:
round(Female_Percentage, 2)

14.06

In [12]:
round(Male_Percentage, 2)

84.03

In [13]:
round(Other_Non_Disclosed_Percentage, 2)

1.91

In [14]:
#Create dataframe showing percentage of Players, Players' Sex, Total Count
gender_breakdown =  [{'Sex': 'Male', 'Total Count': 484, 'Percentage of Players': 84.03},
         {'Sex': 'Female',  'Total Count': 81, 'Percentage of Players': 14.06},
         {'Sex': 'Other/Non-Disclosed',  'Total Count': 11,  'Percentage of Players': 1.91}]
gender_count_chart = pd.DataFrame(gender_breakdown)
gender_count_chart.set_index('Sex')

                     Percentage of Players  Total Count
Sex
Male                                 84.03          484
Female                               14.06           81
Other/Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Calculating all the female purchase stats
female_purchase_stats = purchase_data.loc[purchase_data["Gender"]== "Female", :]
female_purchases_count_unique = len(female_purchase_stats["SN"].unique())
female_purchases_count_total = len(female_purchase_stats["SN"])
female_purchase_value = female_purchase_stats["Price"].sum()
print(female_purchases_count_total)
avg_f_purchase_price = female_purchase_value/female_purchases_count_total
print('${:.2f}'.format(avg_f_purchase_price))
print('${:.2f}'.format(female_purchase_value))
avg_f_purchase_person = female_purchase_value/female_purchases_count_unique
print('${:.2f}'.format(avg_f_purchase_person))

113
$3.20
$361.94
$4.47

In [16]:
#Calculating all the male purchase stats
male_purchase_stats = purchase_data.loc[purchase_data["Gender"]== "Male", :]
male_purchases_count_unique = len(male_purchase_stats["SN"].unique())
male_purchases_count_total = len(male_purchase_stats["SN"])
male_purchase_value = male_purchase_stats["Price"].sum()
print(male_purchases_count_total)
avg_m_purchase_price = male_purchase_value/male_purchases_count_total
print('${:.2f}'.format(avg_m_purchase_price))
print('${:.2f}'.format(male_purchase_value))
avg_m_purchase_person = male_purchase_value/male_purchases_count_unique
print('${:.2f}'.format(avg_m_purchase_person))

652
$3.02
$1967.64
$4.07

In [17]:
#Calculating all other/non-disclosed purchase stats
other_purchase_stats = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed", :]
other_purchases_count_unique = len(other_purchase_stats["SN"].unique())
other_purchases_count_total = len(other_purchase_stats["SN"])
other_purchase_value = other_purchase_stats["Price"].sum()
print(other_purchases_count_total)
avg_o_purchase_price = other_purchase_value/other_purchases_count_total
print('${:.2f}'.format(avg_o_purchase_price))
print('${:.2f}'.format(other_purchase_value))
avg_o_purchase_person = other_purchase_value/other_purchases_count_unique
print('${:.2f}'.format(avg_o_purchase_person))

15
$3.35
$50.19
$4.56

In [18]:
gender_purchase_breakdown = [{'Gender': 'Male', 'Purchase Count': 652, 'Avg Purchase Price': '$3.02', 'Purchase Value':"$1967.64", 'Avg Purchase Per Person': '$4.07'},
         {'Gender': 'Female',  'Purchase Count': 113, 'Avg Purchase Price': '$3.20', 'Purchase Value':'$361.94', 'Avg Purchase Per Person': '$4.47'},
         {'Gender': 'Other/Non-Disclosed',  'Purchase Count': 15,  'Avg Purchase Price': '3.35', 'Purchase Value':'$50.19', 'Avg Purchase Per Person': '$4.56'}]
gender_purchase_chart = pd.DataFrame(gender_purchase_breakdown)
gender_purchase_chart.set_index('Gender')

,Avg Purchase Per Person,Avg Purchase Price,Purchase Count,Purchase Value
Gender,,,,
Male,$4.07,$3.02,652,$1967.64
Female,$4.47,$3.20,113,$361.94
Other/Non-Disclosed,$4.56,3.35,15,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
#Create a column in purchase_data dataframe that will put ages in a certain age grouping and count unique players by age group
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()
Grouping = purchase_data.groupby("Age Group")["SN"].nunique()
Grouping

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [20]:
#Calculate percentage of each agre group by numer of age group divided by total players
under_ten_percentage = 17/Total * 100
print(round(under_ten_percentage, 2))
ten_to_fourteen_percentage = 22/Total *100
print(round(ten_to_fourteen_percentage, 2))
fifteen_to_ninteen_percentage = 107/Total * 100
print(round(fifteen_to_ninteen_percentage, 2))
twenty_to_twentyfour_percentage = 258/Total * 100
print(round(twenty_to_twentyfour_percentage, 2))
twentyfive_to_twentynine_percentage = 77/Total * 100
print(round(twentyfive_to_twentynine_percentage, 2))
thirty_to_thirtyfour_percentage = 52/Total * 100
print(round(thirty_to_thirtyfour_percentage, 2))
thirtyfive_to_thirtynine_percentage = 31/Total * 100
print(round(thirtyfive_to_thirtynine_percentage, 2))
forty_and_over_percentage = 12/Total * 100
print(round(forty_and_over_percentage, 2))

2.95
3.82
18.58
44.79
13.37
9.03
5.38
2.08

In [21]:
#Create summary dataframe and present chart
agegroupdata = [{"Age Group": "<10", "Total Count": "17", "Percentage of Players": "2.95" },
               {"Age Group": "10-14", "Total Count": "22", "Percentage of Players": "3.82"},
               {"Age Group": "15-19", "Total Count": "107", "Percentage of Players": "18.58"},
               {"Age Group": "20-24", "Total Count": "258", "Percentage of Players": "44.79"},
               {"Age Group": "25-29", "Total Count": "77", "Percentage of Players": "13.37"},
               {"Age Group": "30-34", "Total Count": "52", "Percentage of Players": "9.03"},
               {"Age Group": "35-39", "Total Count": "31", "Percentage of Players": "5.38"},
               {"Age Group": "40+", "Total Count": "12", "Percentage of Players": "2.08"},]
grouped_by_age = pd.DataFrame(agegroupdata)
grouped_by_age.set_index('Age Group')

          Percentage of Players Total Count
Age Group
<10                        2.95          17
10-14                      3.82          22
15-19                     18.58         107
20-24                     44.79         258
25-29                     13.37          77
30-34                      9.03          52
35-39                      5.38          31
40+                        2.08          12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Find purchase count for each age group (not unique users)
purchase_data["Age Group"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Group, dtype: int64

In [23]:
#Find purchase stats for age group less than 10
less10_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "<10", :]
less10_purchases_count_unique = len(less10_purchase_stats["SN"].unique())
less10_purchases_count_total = len(less10_purchase_stats["SN"])
less10_purchase_value = less10_purchase_stats["Price"].sum()
print(less10_purchases_count_total)
avg_less10_purchase_price = less10_purchase_value/less10_purchases_count_total
print('${:.2f}'.format(avg_less10_purchase_price))
print('${:.2f}'.format(less10_purchase_value))
avg_less10_purchase_person = less10_purchase_value/less10_purchases_count_unique
print('${:.2f}'.format(avg_less10_purchase_person))

23
$3.35
$77.13
$4.54

In [24]:
#Find purchase stats for age group 10-14
tento14_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "10-14", :]
tento14_purchases_count_unique = len(tento14_purchase_stats["SN"].unique())
tento14_purchases_count_total = len(tento14_purchase_stats["SN"])
tento14_purchase_value = tento14_purchase_stats["Price"].sum()
print(tento14_purchases_count_total)
avg_tento14_purchase_price = tento14_purchase_value/tento14_purchases_count_total
print('${:.2f}'.format(avg_tento14_purchase_price))
print('${:.2f}'.format(tento14_purchase_value))
avg_tento14_purchase_person = tento14_purchase_value/tento14_purchases_count_unique
print('${:.2f}'.format(avg_tento14_purchase_person))

28
$2.96
$82.78
$3.76

In [25]:
#Find purchase stats for age group 15-19
fif19_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "15-19", :]
fif19_purchases_count_unique = len(fif19_purchase_stats["SN"].unique())
fif19_purchases_count_total = len(fif19_purchase_stats["SN"])
fif19_purchase_value = fif19_purchase_stats["Price"].sum()
print(fif19_purchases_count_total)
avg_fif19_purchase_price = fif19_purchase_value/fif19_purchases_count_total
print('${:.2f}'.format(avg_fif19_purchase_price))
print('${:.2f}'.format(fif19_purchase_value))
avg_fif19_purchase_person = fif19_purchase_value/fif19_purchases_count_unique
print('${:.2f}'.format(avg_fif19_purchase_person))

136
$3.04
$412.89
$3.86

In [26]:
#Find purchase stats for age group 20-24
twenty24_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "20-24", :]
twenty24_purchases_count_unique = len(twenty24_purchase_stats["SN"].unique())
twenty24_purchases_count_total = len(twenty24_purchase_stats["SN"])
twenty24_purchase_value = twenty24_purchase_stats["Price"].sum()
print(twenty24_purchases_count_total)
avg_twenty24_purchase_price = twenty24_purchase_value/twenty24_purchases_count_total
print('${:.2f}'.format(avg_twenty24_purchase_price))
print('${:.2f}'.format(twenty24_purchase_value))
avg_twenty24_purchase_person = twenty24_purchase_value/twenty24_purchases_count_unique
print('${:.2f}'.format(avg_twenty24_purchase_person))

365
$3.05
$1114.06
$4.32

In [27]:
#Find purchase stats for age group 25-29
twenty29_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "25-29", :]
twenty29_purchases_count_unique = len(twenty29_purchase_stats["SN"].unique())
twenty29_purchases_count_total = len(twenty29_purchase_stats["SN"])
twenty29_purchase_value = twenty29_purchase_stats["Price"].sum()
print(twenty29_purchases_count_total)
avg_twenty29_purchase_price = twenty29_purchase_value/twenty29_purchases_count_total
print('${:.2f}'.format(avg_twenty29_purchase_price))
print('${:.2f}'.format(twenty29_purchase_value))
avg_twenty29_purchase_person = twenty29_purchase_value/twenty29_purchases_count_unique
print('${:.2f}'.format(avg_twenty29_purchase_person))

101
$2.90
$293.00
$3.81

In [28]:
#Find purchase stats for age group 30-34
thirty34_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "30-34", :]
thirty34_purchases_count_unique = len(thirty34_purchase_stats["SN"].unique())
thirty34_purchases_count_total = len(thirty34_purchase_stats["SN"])
thirty34_purchase_value = thirty34_purchase_stats["Price"].sum()
print(thirty34_purchases_count_total)
avg_thirty34_purchase_price = thirty34_purchase_value/thirty34_purchases_count_total
print('${:.2f}'.format(avg_thirty34_purchase_price))
print('${:.2f}'.format(thirty34_purchase_value))
avg_thirty34_purchase_person = thirty34_purchase_value/thirty34_purchases_count_unique
print('${:.2f}'.format(avg_thirty34_purchase_person))

73
$2.93
$214.00
$4.12

In [29]:
#Find purchase stats for age group 35-39
thirty39_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "35-39", :]
thirty39_purchases_count_unique = len(thirty39_purchase_stats["SN"].unique())
thirty39_purchases_count_total = len(thirty39_purchase_stats["SN"])
thirty39_purchase_value = thirty39_purchase_stats["Price"].sum()
print(thirty39_purchases_count_total)
avg_thirty39_purchase_price = thirty39_purchase_value/thirty39_purchases_count_total
print('${:.2f}'.format(avg_thirty39_purchase_price))
print('${:.2f}'.format(thirty39_purchase_value))
avg_thirty39_purchase_person = thirty39_purchase_value/thirty39_purchases_count_unique
print('${:.2f}'.format(avg_thirty39_purchase_person))

41
$3.60
$147.67
$4.76

In [30]:
#Find purchase stats for age group 40 and over
fortyplus_purchase_stats = purchase_data.loc[purchase_data["Age Group"]== "40+", :]
fortyplus_purchases_count_unique = len(fortyplus_purchase_stats["SN"].unique())
fortyplus_purchases_count_total = len(fortyplus_purchase_stats["SN"])
fortyplus_purchase_value = fortyplus_purchase_stats["Price"].sum()
print(fortyplus_purchases_count_total)
avg_fortyplus_purchase_price = fortyplus_purchase_value/fortyplus_purchases_count_total
print('${:.2f}'.format(avg_fortyplus_purchase_price))
print('${:.2f}'.format(fortyplus_purchase_value))
avg_fortyplus_purchase_person = fortyplus_purchase_value/fortyplus_purchases_count_unique
print('${:.2f}'.format(avg_fortyplus_purchase_person))

13
$2.94
$38.24
$3.19

In [31]:
#Put data gathered in previous 8 cells into a dataframe and display results
agedgroupdata = [{"Age Group": "<10", "Purchase Count": "23", "Avg Purchase Price": "$3.35", "Total Purchase Value": "$77.13", "Avg Total Purchase Per Person": "$4.54"},
  {"Age Group": "10-14", "Purchase Count": "28", "Avg Purchase Price": "$2.96", "Total Purchase Value": "$82.78", "Avg Total Purchase Per Person": "$3.76"}, 
 {"Age Group": "<15-19", "Purchase Count": "136", "Avg Purchase Price": "$3.04", "Total Purchase Value": "$412.89", "Avg Total Purchase Per Person": "$3.86"},
 {"Age Group": "<20-24", "Purchase Count": "365", "Avg Purchase Price": "$3.05", "Total Purchase Value": "$1114.06", "Avg Total Purchase Per Person": "$4.32"},
 {"Age Group": "25-29", "Purchase Count": "101", "Avg Purchase Price": "$2.90", "Total Purchase Value": "$293.00", "Avg Total Purchase Per Person": "$3.81"},
 {"Age Group": "<30-34", "Purchase Count": "73", "Avg Purchase Price": "$2.93", "Total Purchase Value": "$214.00", "Avg Total Purchase Per Person": "$4.12"},
 {"Age Group": "35-39", "Purchase Count": "41", "Avg Purchase Price": "$3.60", "Total Purchase Value": "$147.67", "Avg Total Purchase Per Person": "$4.76"},
 {"Age Group": "40+", "Purchase Count": "13", "Avg Purchase Price": "2.94", "Total Purchase Value": "$38.24", "Avg Total Purchase Per Person": "$3.19"}]
summarybyage = pd.DataFrame(agedgroupdata)
summarybyage.set_index('Age Group')

,Avg Purchase Price,Avg Total Purchase Per Person,Purchase Count,Total Purchase Value
Age Group,,,,
<10,$3.35,$4.54,23,$77.13
10-14,$2.96,$3.76,28,$82.78
<15-19,$3.04,$3.86,136,$412.89
<20-24,$3.05,$4.32,365,$1114.06
25-29,$2.90,$3.81,101,$293.00
<30-34,$2.93,$4.12,73,$214.00
35-39,$3.60,$4.76,41,$147.67
40+,2.94,$3.19,13,$38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
#Find the top spenders and make calculations of each one
top_spenders = purchase_data.groupby(['SN'])
top_spenders
purchase_count = top_spenders['Purchase ID'].count()
purchase_count.head()
total_purchase_value = top_spenders['Price'].sum()
total_purchase_value
average_purchase_price = total_purchase_value/purchase_count
average_purchase_price
top_spenders_df = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price':average_purchase_price, 
                                'Total Purchase value': total_purchase_value})
top_spenders_df2 = top_spenders_df.sort_values(["Total Purchase value"], ascending=False)
top_spenders_df3 = top_spenders_df2.round(2)
top_spenders_df3['Total Purchase value'] = top_spenders_df3['Total Purchase value'].map("${: .2f}".format)
top_spenders_df3['Average Purchase Price'] = top_spenders_df3['Average Purchase Price'].map("${: .2f}".format)
top_spenders_df3.head()

             Purchase Count Average Purchase Price Total Purchase value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
#Find te most popular items, price of each item, and the total purchase value of each item
items_df = purchase_data[["Item ID", "Item Name", "Price"]]
items_df
popular_items = items_df.groupby(['Item ID', 'Item Name'])
purchase_count_items = popular_items['Item ID'].count()
purchase_count_items.head()
total_purchase_value = popular_items["Price"].sum()
total_purchase_value.head
average_purchase_price = total_purchase_value/purchase_count_items
average_purchase_price
most_popular_items = pd.DataFrame({'Purchase Count': purchase_count_items, 'Item Price':average_purchase_price, 
                                'Total Purchase Value': total_purchase_value})
most_popular_items2 = most_popular_items.sort_values(["Purchase Count"], ascending=False)
most_popular_items2.head()
most_popular_items2['Total Purchase Value'] = most_popular_items2['Total Purchase Value'].map("${: .2f}".format)
most_popular_items2['Item Price'] = most_popular_items2['Item Price'].map("${: .2f}".format)
most_popular_items2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
most_popular_items3 = most_popular_items.sort_values(["Total Purchase Value"], ascending=False)
most_popular_items3['Total Purchase Value'] = most_popular_items3['Total Purchase Value'].map("${: .2f}".format)
most_popular_items3['Item Price'] = most_popular_items3['Item Price'].map("${: .2f}".format)
most_popular_items3.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
92,Final Critic,8,$ 4.88,$ 39.04
103,Singed Scalpel,8,$ 4.35,$ 34.80